apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-ujdgbwzp
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-ujdgbwzp:1fe5aa7211f181932d744f976863f8f61c03c85e@sha256:dbc6e77e3dec0ab9934f080c2bce90f2cdf6eb45592ae86c4133a067be71db03
        name: container-image  
