apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ujdgbwzp
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ujdgbwzp:44f0857f41fbf4081ed54b7ee9019375b163bbe0@sha256:e807569a168de52bbce135b6548dab6d7a7a03500b0fbae444595f4065566c61
          name: container-image
